html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  background: hsl(0, 2%, 24%);
}

* {
  box-sizing: border-box;
}

.mh-logo {
  margin: 0 0 -10px;
}

.main-nav a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #3e3c3c;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.5em;
}

.main-nav ul {
  padding: 0;
  margin: 1em 0 0.5em;
  text-align: center;
}

.main-header {
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  background-image:url("../images/art.svg")
}

img {
  min-width: 1em;
  min-height: 1em;
  width: fit-content;
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav li {
  display: inline;
}

.body-container {
  display: flex;
  width: 100%;
}

.intro > p {
  font-weight: 400;
}

.intro > h3 {
  font-weight: 400;
  font-size: 200%;
}

.intro {
  flex: 1;
  padding: 16px;
}

.name {
  color: #f55800;
  font-weight: 400;
  font-size: 500%;
}

.art {
  flex: 1;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .body-container {
    display: grid;
  }

  .intro {
    display: block;
    padding: 16px;
  }

  .art {
    display: block;
    width: 100%;
  }
}
