html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  background: #000;
  background-image: url("../images/art.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.mh-logo {
  margin: 0 0 -10px;
  font-family: 'inter', sans-serif;
}

.mh-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 0.7em;
  font-weight: 700;
}

.main-nav a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.5em;
}

.main-nav ul {
  padding: 0;
  margin: 1em 0 0.5em;
  text-align: center;
}

.main-header {
  background: #3e3c3c;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

img {
  min-width: 1em;
  min-height: 1em;
  width: fit-content;
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.main-nav li {
  display: inline;
}

.body-container {
  display: grid;
  position: absolute;
  width: 100%;
  margin-top: 15%;
}

.intro > p {
  font-weight: 400;
}

.intro > h3 {
  font-weight: 400;
  font-size: 200%;
}

.intro {
  flex: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}

.socials {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.socials > li {
  min-width: 1.3em;
  margin: 5%;
  margin-top: 0;
}

.name {
  color: #f55800;
  font-weight: 650;
  font-size: 350%;
  line-height: normal;
  font-family: 'Crete Round', sans-serif;
}

.art {
  flex: 1;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .intro {
    display: block;
    padding: 16px;
  }

  .art {
    display: block;
    width: 100%;
  }
}
